#screen.fullscreen-layout-app.software-button-enabled [role="dialog"][data-type="date-selector"] {
  height: calc(100% - 7rem - var(--software-home-button-height));
}

@media (orientation: landscape) {
  #screen.fullscreen-layout-app.software-button-enabled [role="dialog"][data-type="date-selector"] {
    height: calc(100% - 7rem);
  }
  [role="dialog"][data-type="date-selector"] {
    height: calc(100% - var(--statusbar-height));
    top: auto;
    bottom: var(--softkeybar-height);
  }
}
