#keyboards {
  /* See the new mozpasspointerevents attribute added in bug 796452 */
  pointer-events: none;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;
}

.inputWindow {
  position: absolute;
  opacity: 0;
  transform: translateY(100%);
  bottom: 0;
  height: 100%;
  width: 100%;
}

.inputWindow iframe {
  display: none;
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;
}

.inputWindow.active {
  opacity: 1;
  transform: translateY(0);
}

.inputWindow.top-most iframe {
  display: block;
}

@media not all and (-moz-physical-home-button) {
  #screen:not(.software-button-disabled) #keyboards {
    bottom: var(--software-home-button-height);
  }
}

#screen.software-button-enabled #keyboards {
  bottom: var(--software-home-button-height);
}

@media (orientation: landscape) {
  #screen.software-button-enabled #keyboards {
    right: var(--software-home-button-height);
    bottom: 0;
    left: 0;
    width: auto;
  }
}

.inputWindow.slide-from-bottom {
  animation: kbShow 10ms both ease;
}

.inputWindow.slide-to-bottom {
   /* ease-in for disappearing */
  animation: kbHide 10ms both ease-in;
}

@keyframes kbShow {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes kbHide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

/* notification */
#keyboard-show-ime-list > .fake-notification {
  box-sizing: border-box;

  /* wait for activate */
  display: none;
}

#keyboard-show-ime-list > .fake-notification.activated {
  display: block;
}

#keyboard-show-ime-list > .fake-notification > .title-container {
  margin: 1.4rem 0 0 3.7rem;
}

#keyboard-show-ime-list > .fake-notification > .detail {
  margin-left: 3.7rem;
}
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideToBottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
