<!-- welcome page when haven't any mail accounts -->
<section class="skin-organic bbshim" role="region">
  <header class="sup-account-header">
    <h1 id="welcome-header" class="sup-account-header-label"
        data-l10n-id="welcome-header"></h1>
  </header>
  <div class="sup-welcome-div" role="textbox" tabindex="-1"
       data-prop="msgNode" aria-describedby="msg-welcome msg-setup">
    <span id="msg-welcome" class="sup-welcome-span"
          data-l10n-id="welcome-msg"></span>
    <br>
    <span id="msg-setup" class="sup-welcome-span-setup"
          data-l10n-id="welcome-msg-setup"></span>
  </div>
</section>
