<element name="net-error-action-menu" extends="section">
  <template>
    <form role="dialog" data-type="action">
      <section>
        <span id="failed-logo"></span>
        <h2 id="error-title" class="title"></h2>
        <p id="error-message" class="message"></p>
      </section>
      <button id="settings-btn" type="button" data-l10n-id="settings"></button>
    </form>
  </template>
</element>
