<element name="advanced-settings" extends="section">
  <template>
    <header >
      <h1 id="advanced-settings-header" data-l10n-id="advanced-settings-header">Calendar Settings</h1>
    </header>

    <section class="content">
      <div class="errors"></div>

      <header id="account-list-header" class="account-list-header" skin="organic" role="heading" aria-level="2">
        <span class="p-sec" data-l10n-id="account-list-header">Accounts</span>
      </header>

      <ol class="account-list link-list" aria-labelledby="account-list-header" role="listbox">
      </ol>

     <ol role="presentation">
        <li class="create-account-item" role="presentation">
          <button class="p-pri focusable create-account" href="/select-preset/" data-l10n-id="advanced-settings-add-account">
            Add Account
          </button>
        </li>
     </ol>

      <header skin="organic">
        <span class="p-sec" data-l10n-id="advanced-settings-personalization">Update Frequency</span>
      </header>

      <ol class="settings-list link-list">
        <li class="focusable">
          <label>
            <span class="p-pri sync" data-l10n-id="sync-frequency">Sync Calendar</span>
            <span class="button">
              <select id="setting-sync-frequency" class="p-sec" name="syncFrequency" data-track-class="sync">
                <option data-l10n-id="sync-frequency-15min" value="15">Every 15 minutes</option>
                <option data-l10n-id="sync-frequency-30min" value="30">Every 30 minutes</option>
                <option data-l10n-id="sync-frequency-manual" value="null">Manually</option>
              </select>
            </span>
          </label>
        </li>
      </ol>

      <header skin="organic">
        <span class="p-sec" data-l10n-id="advanced-settings-reminders">Reminders</span>
      </header>

      <ol class="settings-list link-list" role="presentation">
        <li class="focusable">
          <label id="default-event-alarm">
            <span data-l10n-id="events" data-title-class="reminder" class="p-pri reminder option-title">Events Reminder</span>
            <span class="button"></span>
          </label>
        </li>
        <li class="focusable">
          <label id="default-allday-alarm">
            <span data-l10n-id="allday-events" data-title-class="allday-reminder" class="p-pri allday-reminder option-title">All-day Events Reminder</span>
            <span class="button"></span>
          </label>
        </li>
      </ol>
    </section>
  </template>
</element>
