<element name="create-account" extends="section">
  <template>
    <header id="create-account-header">
      <h1 id="add-account-title" data-l10n-id="add-account"></h1>
    </header>
    <ol id="account-list" class="link-list" role="listbox"></ol>
  </template>
</element>
