<element name="modify-event" extends="section">
  <template>
    <header id="modify-event-header">
      <h1 id="new-event-header" data-l10n-id="new-event-header" class="save-text">Add Event</h1>
      <h1 id="edit-event-header" data-l10n-id="edit-event-header" class="done-text">Edit Event</h1>
    </header>

    <form id="event-info-form">
      <ol role="menu">
        <li class="title focusable">
          <span id="title-title" class="p-sec" data-l10n-id="event-title">Title</span>
          <input aria-labelledby="title-title" class="p-pri tcl-input-focusable" name="title" x-inputmode="latin-prose" dir="auto" type="text">
        </li>

        <li class="location focusable">
          <span id="where-title" class="p-sec" data-l10n-id="event-location">Location</span>
          <input aria-labelledby="where-title" class="p-pri tcl-input-focusable" name="location" x-inputmode="latin-prose" dir="auto" type="text">
        </li>

        <li role="menuitem" class="allday focusable">
          <label class="pack-checkbox-large">
            <input name="allday" type="checkbox">
            <span aria-hidden="true" id="allday-title" class="p-pri" data-l10n-id="event-is-allday">All-day Event</span>
          </label>
        </li>

        <li role="menuitem" class="start-date focusable" aria-labelledby="startdate-title" aria-describedby="start-date-locale">
          <span id="startdate-title" data-l10n-id="event-start-date" class="p-pri start-date-track">Start Date</span>
          <span role="combobox" aria-autocomplete="none" data-l10n-id="start-date">
            <input aria-hidden="true" name="startDate" class="hidden-input" type="date" data-track-class="start-date-track">
            <span class="p-sec" id="start-date-locale" data-type="date"></span>
          </span>
        </li>

        <li role="menuitem" class="end-date focusable" aria-labelledby="enddate-title" aria-describedby="end-date-locale">
          <span id="enddate-title" data-l10n-id="event-end-date" class="p-pri end-date-track">End Date</span>
          <span role="combobox" aria-autocomplete="none" data-l10n-id="end-date">
            <input name="endDate" class="hidden-input" aria-hidden="true" type="date" data-track-class="end-date-track">
            <span class="p-sec" id="end-date-locale" data-type="date"></span>
          </span>
        </li>


        <li role="menuitem" class="start-time focusable" id="startTime-Li" aria-labelledby="starttime-title" aria-describedby="start-time-locale">
          <span id="starttime-title" data-l10n-id="event-start-time" class="p-pri start-time-track">Start Time</span>
          <span role="combobox" aria-autocomplete="none" data-l10n-id="start-time">
            <input name="startTime" class="hidden-input" aria-hidden="true" type="time" data-track-class="start-time-track">
            <span class="p-sec" id="start-time-locale" data-type="time"></span>
          </span>
        </li>

        <li role="menuitem" class="end-time focusable" id="endTime-Li" aria-labelledby="endtime-title" aria-describedby="end-time-locale">
          <span id="endtime-title" data-l10n-id="event-end-time" class="p-pri end-time-track">End Time</span>
          <span role="combobox" aria-autocomplete="none" data-l10n-id="end-time">
            <input name="endTime" class="hidden-input" aria-hidden="true" type="time" data-track-class="end-time-track">
            <span class="p-sec" id="end-time-locale" data-type="time"></span>
          </span>
        </li>

        <li role="menuitem" class="current-calendar focusable" id="current-calendar">
          <span id="currentCalendar-title" class="p-pri" data-l10n-id="tcl-event-calendar">Calendar</span>
          <span aria-disabled="true">
            <input class="p-sec none-select" name="currentCalendar">
          </span>
        </li>

        <li role="menuitem" class="event-calendar focusable" id="event-calendar">
          <span id="eventCalendar-title" data-l10n-id="tcl-event-calendar" class="p-pri title-calendar">Calendar</span>
          <span class="button">
            <select name="calendarId" class="p-sec loading" data-track-class="title-calendar">
            </select>
          </span>
        </li>

        <li role="menuitem" class="focusable">
          <span id="eventReminder-title" data-l10n-id="reminder" role="heading" aria-level="2" class="p-pri modify-event-reminder">Event Reminder</span>
          <div class="alarms">
          </div>
        </li>

        <li class="notes focusable">
          <span id="notes-title" class="p-sec" data-l10n-id="event-description">Notes</span>
          <div role="textbox" tabindex="0" aria-labelledby="notes-title" id="note-pad" contentEditable="true" class="p-pri tcl-input-focusable" name="description" x-inputmode="latin-prose" dir="auto"></div>
        </li>

      </ol>
      <section role="status">
        <p class="errors"></p>
      </section>
    </form>
  </template>
</element>
