<element name="contact-in-overlay" extends="button">
  <template>
      <div class="js-name ci__name ellipsis" dir="auto"></div>
      <div class="ci__details">
        <span class="js-tel"></span>
      </div>
  </template>
</element>

