<element name="help" extends="section">
  <template>

    <gaia-header data-href="#root">
      <h1 data-l10n-id="help"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem" class="support-info hidden">
          <span id="online-support-link">
            <span data-l10n-id="online-support">Online Support:</span>
            <span id="help-online-support-text"></span>
          </span>
        </li>
        <li role="menuitem" class="support-info hidden">
          <span id="call-support-link">
            <span data-l10n-id="call-support">Call Support:</span>
            <span id="help-call-support-numbers"></span>
          </span>
        </li>
        <li role="menuitem">
          <a class="menu-item" id="user-guide" href="#">
            <span data-l10n-id="user-guide"> User Guide </span>
          </a>
        </li>
        <li role="menuitem" class="no-support-info description non-focus" data-l10n-id="default-support"></li>
      </ul>
    </div>

    <panel data-path="panels/help/panel"></panel>

  </template>
</element>
