<element name="screenLock-passcode" extends="section">
  <template>

    <gaia-header data-href="#screenLock">
      <h1 data-l10n-id="create-lock-code" data-mode="create"></h1>
      <h1 data-l10n-id="enter-lock-code" data-mode="edit,confirm,confirmLock"></h1>
      <h1 data-l10n-id="create-lock-code" data-mode="new"></h1>
    </gaia-header>

    <div class="passcode-overlay">
      <div class="passcode-container">
        <div class="passcode" id="passcode-pseudo-input">
          <label data-l10n-id="create-a-passcode" data-mode="create">Create a passcode.</label>
          <label data-l10n-id="enter-lock-code" data-mode="new">Enter Passcode</label>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
        </div>
        <div class="passcode" data-mode="new,create" id="passcode-pseudo-confirm-input">
          <label data-l10n-id="confirm-the-passcode" data-mode="create">Confirm the passcode.</label>
          <label data-l10n-id="confirm-passcode" data-mode="new">Confirm Passcode</label>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
        </div>
        <div class="passcode-error" data-l10n-id="passcode-doesnt-match">Passcode doesn't match. Please try again!</div>
      </div>
    </div>

    <panel data-path="panels/screen_lock_passcode/panel"></panel>

  </template>
</element>
