@import "helper/mixins";

$row: var(--grid-row, 3);
$col: var(--grid-col, 3);

$grid-size: 6.2rem;
$icon-size: 5.6rem;
$highlight-size: $grid-size;
$highlight-radius: percentage(1.8rem / $icon-size);

$title-height: 5.5rem;

$app-wall-width: var(--app-wall-width);
$app-wall-height: var(--app-wall-height);

.appList {
  --app-grid-padding-bottom: 1rem;
  --app-wall-width: calc(100vw - 2.1rem * 2);
  --app-wall-height: var(--app-wall-width);
  @include fill('full', fixed);

  padding-top: var(--statusbar-height);
  padding-bottom: var(--softkeybar-height);
  animation: fadeIn 0.15s cubic-bezier(0, 0, 0, 1);

  &.is-reordering {
    background-color: var(--color-gs100);

    .app:not(:focus) {
      opacity: 0.3;
    }
  }
}

.app {
  display: flex;
  align-items: center;
  width: 100%;
  height: $grid-size;
}

.app__icon {
  --icon-size: $icon-size;

  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  flex-shrink: 0;
  visibility: hidden;

  // icon
  &--hq,
  &::after {
    @include fill;

    content: '';
    background-image: inherit;
    background-size: var(--icon-size) var(--icon-size);
    background-position: 50%;
    background-repeat: no-repeat;
    visibility: visible;
  }

  &--hq {
    display: none;
  }
}

.app__name {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--color-gs00);
}

@import 'appList--grid';
@import 'appList--list';
@import 'appList--single';
