<element name="fxa-multiple-sign-in-attempts" extends="section">
  <template>
    <section class="vertical">
      <p data-l10n-id="fxa-multiple-sign-in-attempts-content" role="menuitem"></p>
      <p data-l10n-id="fxa-multiple-sign-in-attempts-content-retry" role="menuitem"></p>
      <script src="js/screens/fxam_multiple_sign_in_attempts.js"></script>
    </section>
  </template>
</element>
